<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Example 11 Angular</title>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
	<script type="text/javascript">
		var nameApp = angular.module('myApp',[]);
		nameApp.controller('NameCtrl',function($scope) {
			$scope.firstName="Sachin";
			$scope.lastName="Kumar";
		});
	</script>
</head>
<body ng-controller="NameCtrl">
	FirstName:<input ng-model="firstName" id="txtFirstName" type="text" style="display: block;" />
	<br>
	LastName:<input ng-model="lastName" id="txtLastName" type="text" style="display: block;" />
	<br>
	Hello {{firstName}} {{lastName}}
</body>
</html>